.button {
    padding: 20px;
    background-color: white;
}

.disabled {
    background-color: white;
}

.secondary {
    background-color: green;
}

.default {
    background-color: gray;
}

.red {
    background-color: red;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
